@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col d-flex justify-content-center">
    <div class="card col-8">
        <div class="card-header">
            <h2>Preselected open data description</h2>
        </div>

        <div class="card-body">
            <p>Aicinām iepazīties ar statistiku par Valsts adrešu reģistrā reģistrētiem objektiem (dati uz katra mēneša pēdējo datumu).</p>
            <p>Lai attēlotu datus iepriekšizvēlētos datus, nospied pogu "View data"</p>
            <a class="btn-primary btn" href="/opendata/show">View data</a>
        </div>

        <div class="card-footer">
            For more interesting open data, visit <a href="https://data.gov.lv/dati/lv/dataset">https://data.gov.lv/dati/lv/dataset</a>
        </div>
    </div>
</div>