
<div class="col d-flex justify-content-center">
    <div class="card col-8">
        <div class="card-header">
            <h2>Pre-selected open data description</h2>
        </div>

        <div class="card-body">
            <p>We invite you to familiarize yourself with the statistics on objects registered in the State Address Register (data as of the last date of each month).</p>
            <p>Click on the button bellow, to view the pre-selected data.</p>
            <a class="btn-primary btn" href="/opendata/show">View data</a>
        </div>

        <div class="card-footer">
            For more interesting open data, visit <a href="https://data.gov.lv/dati/lv/dataset">https://data.gov.lv/dati/lv/dataset</a>
        </div>
    </div>
</div>