@model List<System.Collections.Generic.IDictionary<System.String, System.Object>>

<style>
    table {
        text-align: center;
        border-collapse: separate;
        border-spacing: 0;
    }

    .header {
        position: sticky;
        top: 0;
        background: white;
    }

    .table-wrap {
        height: 70vh;
        overflow-y: auto;
    }
</style>

<h1>Valsts adrešu reģistrā reģistrētie objekti (2011-2022)</h1>

@if (Model == null || Model.Count == 0)
{
    <div>
        <p>Something went wrong. No data found!</p>
    </div>
}
else
{
    <div class="table-wrap">
        <table class="table table-sm">
            <thead class="header">
                <tr>
                    @foreach (var columnName in ViewBag.ColumnNames)
                    {
                        <th scope="col" width="1%">@columnName</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var expando in Model)
                {
                    <tr>
                        @foreach (var item in expando)
                        {
                            <td>@item.Value</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}